<% if (locals.currentUser) { %> 
  <% if(currentUser.admin) {%>
      <ul class="allMessages">
          <% allMsgs.forEach((msg) => { %>
              <li class="oneMessage">
                  <h2>Author: <%=msg.nickname%></h2>
                  <p><span>&#128233;</span> <%=msg.message%></p>
                  <p><span>&#128347;</span> <%=msg.date%></p>
                  <form class="deleteMsgForm" action="/deleteMsg" method="POST">
                    <input id="msgId" name="msgId" style="display: none;" value="<%=msg.id%>">
                    <button class="deleteBtn">Delete</button>
                  </form>
              </li>
          <% }) %>
      </ul>
  <%} else { %>
    <ul class="allMessages">
        <% allMsgs.forEach((msg) => { %>
            <li class="oneMessage">
                <h2>Anonimus (Only for admins)</h2>
                <div>
                  <p><span>&#128233;</span> <%=msg.message%></p>
                  <p><span>&#128347;</span> Secret (Only for admins)</p>
                </div>
            </li>
        <% }) %>
    </ul>
  <% } %>
<% } %>